# Date: 20.03.2025- 20:39
# Autor: Chukwunonos Bob-Anyeji
# Discription: Git Ignore File for CAD Projects

# Media Files (User Addition)
#*.png
#*.bmp
#*.jpg
*.mp4
*.wav

#Archive Folders
*.zip
*.7z

#Vs-Config Folders
*.vscode
*.vs
*.code-workspace
#Sample ingnor multiple files
#DocProject/Help/*.HxT

# Expert Files
[Ee]xport/
[Aa]chive/
